.excel__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: var(--header-height);
  height: var(--toolbar-heigth);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 7px 10px;

  .button {
    @include button(green);
  }
}
